<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Detalhe do Ingresso</title>
</head>
<body>
  <h1>Detalhe do Ingresso</h1>
  <p>ID do Ingresso: {{ idIngresso }}</p>

</body>
</html>
